
@{
    ViewBag.Title = "Index";
}

<h2>Cadastro de Cliente</h2>

<form method="post" action="Cadastrar">
    <input type="text" placeholder="Codigo" name="cliente.Codigo" />
    <br />
    <input type="text" placeholder="Nome" name="cliente.Nome"/>
    <br />
    <input type="text" placeholder="Idade" name="cliente.Idade"/>
    <br />
    <input type="submit" />
</form>